# Node
node_modules/

# Frontend build
/acl-rehab-app/frontend/dist/

# Worker build/cache
/acl-rehab-app/worker/.wrangler/
/acl-rehab-app/worker/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
